<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
  	<listener class-name="functions.Listeners"/>
  </listeners>
  <test name="pcHomeTest">
  <classes>
      <class name="pcHome.pcHome_SS1"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
